/*/groupware/                                               @ChristophWurst
/*/groupware/calendar.rst                                   @miaulalala
/*/groupware/contacts.rst                                   @hamza221
/*/groupware/mail.rst                                       @GretaD
/developer_manual/digging_deeper/groupware/                 @ChristophWurst
/developer_manual/digging_deeper/groupware/calendar.rst     @miaulalala
