/*/groupware/calendar.rst                                   @SebastianKrupinski @st3iny @tcitworld
/*/groupware/contacts.rst                                   @GVodyanov @hamza221 @SebastianKrupinski
/*/groupware/mail.rst                                       @ChristophWurst @GretaD @kesselb
/*/security.rst                                             @nickvergessen
/admin_manual/configuration_database                        @nickvergessen
/admin_manual/file_workflows                                @nickvergessen
/developer_manual/client_apis/OCS/ocs-status-api.rst        @Antreesy @nickvergessen
/developer_manual/digging_deeper/groupware/calendar.rst     @SebastianKrupinski @st3iny @tcitworld
/developer_manual/digging_deeper/talk.rst                   @nickvergessen
/user_manual/talk/                                          @Antreesy @DorraJaouad @nickvergessen
