/*/groupware/                                               @ChristophWurst
/*/groupware/calendar.rst                                   @miaulalala
/*/groupware/contacts.rst                                   @hamza221
/*/groupware/mail.rst                                       @GretaD
/*/security.rst                                             @nickvergessen
/admin_manual/configuration_database                        @nickvergessen
/admin_manual/file_workflows                                @nickvergessen
/developer_manual/client_apis/OCS/ocs-status-api.rst        @Antreesy @nickvergessen
/developer_manual/digging_deeper/groupware/                 @ChristophWurst
/developer_manual/digging_deeper/groupware/calendar.rst     @miaulalala
/developer_manual/digging_deeper/talk.rst                   @nickvergessen
/user_manual/talk/                                          @Antreesy @DorraJaouad @nickvergessen
