[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx-autobuild = "*"

[packages]
Pillow = "*"
Sphinx = "*"
rst2pdf = "*"
sphinx-rtd-theme = "==1.2.0rc2"
sphinxcontrib-phpdomain = "*"
jinja2 = "<3.1"

[requires]
python_version = "3.8"
