alabaster==0.7.13
Babel==2.12.1
certifi==2022.12.7
charset-normalizer==3.1.0
docutils==0.17.1
idna==3.4
imagesize==1.4.1
importlib-metadata==6.1.0
Jinja2==3.0.3
MarkupSafe==2.1.2
packaging==23.0
Pillow==9.5.0
Pygments==2.14.0
PyYAML==6.0
reportlab==3.6.9
requests==2.28.2
rst2pdf==0.100
smartypants==2.0.1
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-phpdomain==0.9.0
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==1.26.15
zipp==3.15.0
