name: 'Codespell'

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  codespell:
    name: Check spelling
    runs-on: self-hosted
    steps:
      - name: Check out code
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.2.2
        with:
          persist-credentials: false

      - name: Check spelling
        uses: codespell-project/actions-codespell@8f01853be192eb0f849a5c7d721450e7a467c579 # v2.2
        with:
          skip: '**.svg,**.js'
