name: Generate catalog templates (POT) files fetched automatically by transifex
on:
  push:
    branches:
    - master
    paths:
    - 'user_manual/**'
    - '!user_manual/locale/**'

jobs:
  user_manual:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ammaraskar/sphinx-action@master
      with:
        docs-folder: "user_manual/"
        pre-build-command: pip install -r requirements.txt
        build-command: make gettext
    - uses: peter-evans/create-pull-request@v4
      with:
        commit-message: Updates catalog templates (POT files fetched automatically by transifex)
        title: l10n
        branch: update-l10n
        signoff: true
    - uses: pascalgn/automerge-action@v0.15.3
      if: steps.cpr.outputs.pull-request-operation == 'created'
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        MERGE_LABELS: ""
        MERGE_RETRIES: 10
        MERGE_RETRY_SLEEP: 60000
        PULL_REQUEST: ${{ github.event.inputs.pull-request-number }}
    - uses: hmarr/auto-approve-action@v2.2.1
      if: steps.cpr.outputs.pull-request-operation == 'created'
      with:
        github-token: "${{ secrets.GITHUB_TOKEN }}"
        pull-request-number: ${{ github.event.inputs.pull-request-number }}
