name: "Pull Request Docs Check"

on:
  pull_request:
  push:
    branches:
      - master
      - stable*

jobs:
  user_manual:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install pip dependencies
      run: pip install -r requirements.txt
    - name: Build using Makefile
      run: cd user_manual && make html
    - name: Pack  the results in local tar file
      shell: bash
      run: tar czf /tmp/documentation.tar.gz -C user_manual/_build/html .
    - name: Upload static documentation
      uses: actions/upload-artifact@v4.6.0
      with:
        name: User manual.zip
        path: "/tmp/documentation.tar.gz"

  user_manual-en:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install pip dependencies
      run: pip install -r requirements.txt
    - name: Build using Makefile
      run: cd user_manual && make html-lang-en

  developer_manual:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install pip dependencies
      run: pip install -r requirements.txt
    - name: Build using Makefile
      run: cd developer_manual && make html
    - name: Pack the results in local tar file
      shell: bash
      run: tar czf /tmp/documentation.tar.gz -C developer_manual/_build/html/com .
    - name: Upload static documentation
      uses: actions/upload-artifact@v4.6.0
      with:
        name: Developer manual.zip
        path: "/tmp/documentation.tar.gz"

  admin_manual:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install pip dependencies
      run: pip install -r requirements.txt
    - name: Build using Makefile
      run: cd admin_manual && make html
    - name: Pack the results in local tar file
      shell: bash
      run: tar czf /tmp/documentation.tar.gz -C admin_manual/_build/html/com .
    - name: Upload static documentation
      uses: actions/upload-artifact@v4.6.0
      with:
        name: Administration manual.zip
        path: "/tmp/documentation.tar.gz"
