name: "Pull Request Docs Check"
on:
- pull_request
- push

jobs:
  user_manual:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: ammaraskar/sphinx-action@master
      with:
        docs-folder: "user_manual/"
        pre-build-command: pip install -r requirements.txt
        build-command: make html
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
  developer_manual:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: ammaraskar/sphinx-action@master
      with:
        docs-folder: "developer_manual/"
        pre-build-command: pip install -r requirements.txt
        build-command: make html
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
  admin_manual:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: ammaraskar/sphinx-action@master
      with:
        docs-folder: "admin_manual/"
        pre-build-command: pip install -r requirements.txt
        build-command: make html
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
